<html>
<head>
	<title>Registration page</title>
</head>
<body>
	<h2>Registration Page</h2>


	<form method="post">
		<table>
			<tr>
				<td>Username : </td><td><input type='text' name='username'></td>
			</tr>
			<tr>
				<td>Password : </td><td><input type='password' name='password'></td>
			</tr>
			
			<tr>
				<td>Registration Type</td>
			</tr>
			<tr>
				<td>
					<input type="radio" id='Admin' name="type" value="Admin">
					<input type="radio" id='Member'    name="type" value="Member">
					<input type="radio" id='Viewrs'               name="type" value="Viewrs">


				</td>

			</tr>
			<tr>
				<td><input type='submit' name='' value='Register'></td>
			</tr>

		</table>	
		
	</form>
	<a href="/login"> back</a> 
</body>
</form>