<html>
<head>
	<title>Admin Profile</title>
</head>
<body>
	<h2>Admin Profile</h2>


	<form method="post">
		<table>
			<tr>
				<td>Username : <%= user.username %></td>
			</tr>
			<tr>
				<td>Password : <%= user.password %></td>
			</tr>
				
				
			
		</table>			
		
	</form>
	<a href=""></a> 
</body>
</form>